{% extends "sub_base.html" %}
{% load static %}

{% block content %}
<div class="about">
   <div class="container">
      <div class="row d_flex">
         <div class="col-md-5">
            <div class="about_img">
               <figure><img src="{% static 'images/foto_mia.jpg' %}" alt="#"/></figure>
            </div>
         </div>
         <div class="col-md-7">
            <div class="titlepage">
               <h2>Carlos Cutile</h2>
               <p>Mi nombre es Carlos Cutile, empece hace poco a ponerle mas seriedad a la programación. Mi primer paso en esta nueva etapa es el lenguaje Python orientado a IA y BD (con menos enfacis en este ultimo). Mi objetivo es lograr mi primer trabajo para en esta area, ya que actualmente trabajo en una multinacional como analista IT, el cual llevo mas 5 años en este puesto, teniendo ya un techo el aprendizaje. Yo al ser una persona proactiva, necesito nuevos desafios y nuevas metas.</p>
            </div>
            <a class="read_more" href="#">Read More</a>
         </div>
      </div>
   </div>
</div>
{% endblock content %}