{% extends "sub_base.html" %}
{% load static %}

{% block title %}
Cirugía oral | Dra. Muelitas
{% endblock title %}

{% block content %}
<div id="about" class="shop">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div  class="shop_img">
                    <figure><img src="{% static "images/cirugia_oral.png" %}" alt="#"/></figure>
                </div>
            </div>
            <div class="col-md-7 padding_right0">
                <div class="max_width">
                    <div class="titlepage">
                    <h2>Cirugía Oral</h2>
                    <p>¡Bienvenido a Dra. Muelitas! Nos especializamos en cirugía oral, un área de la odontología que se encarga del diagnóstico y tratamiento quirúrgico de las enfermedades, lesiones y defectos de los maxilares y regiones adyacentes. Las causas de estos problemas pueden ser diversas, desde una mala higiene bucal hasta factores genéticos o enfermedades sistémicas.
                    <br><br>Nuestro procedimiento incluye el uso de instrumentos como el bisturí, que es esencial para el éxito del tratamiento. Si el tratamiento convencional no es posible o ha fallado, ofrecemos alternativas como la extracción del diente y la colocación de un implante. En Dra. Muelitas, nos esforzamos por preservar tus dientes naturales y asegurar tu comodidad durante todo el proceso. ¡Tu sonrisa es nuestra prioridad!</p>
                    <a class="read_more" href="{% url "contactanos" %}">¡Haz tu consulta!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}