{% extends "sub_base.html" %}
{% load static %}
{% load url from future %}

{% block title %}
Dra. Muelitas | Endodoncia
{% endblock title %}

{% block content %}
<div id="about" class="shop">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div  class="shop_img">
                    <figure><img src="images/shop_img.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-md-7 padding_right0">
                <div class="max_width">
                    <div class="titlepage">
                    <h2>Endodoncia</h2>
                    <p>En Dra. Muelitas, somos especialistas en endodoncia, un tratamiento dental que se realiza cuando la pulpa del diente está dañada o infectada. Las principales causas son las caries profundas, traumatismos y lesiones endoperiodontales. Nuestro procedimiento incluye la eliminación de la pulpa afectada, la limpieza y desinfección del conducto radicular, y su posterior sellado. Utilizamos instrumentos de alta calidad como las limas endodónticas, que son esenciales para el éxito del tratamiento.
                        Si la endodoncia no es posible o ha fallado, ofrecemos alternativas como la extracción del diente y la colocación de un implante. En Dra. Muelitas, nos esforzamos por preservar tus dientes naturales y asegurar tu comodidad durante todo el proceso. ¡Tu sonrisa es nuestra prioridad!</p>
                    <a class="read_more" href="#">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}