{% extends "sub_base.html" %}
{% load static %}

{% block title %}
Estética dental | Dra. Muelitas
{% endblock title %}

{% block content %}
<div id="about" class="shop">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div  class="shop_img">
                    <figure><img src="images/shop_img.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-md-7 padding_right0">
                <div class="max_width">
                    <div class="titlepage">
                    <h2>Estética Dental</h2>
                    <p>¡Bienvenido a Dra. Muelitas! Nos especializamos en estética dental, una rama de la odontología que se ocupa de mejorar la armonía bucal y conseguir la sonrisa perfecta. Los problemas estéticos pueden ser causados por dientes mal alineados, decoloración, o problemas en la Articulación Temporo Mandibular (ATM).
                    <br><br>Nuestro procedimiento incluye el uso de instrumentos como las fresas dentales, que son esenciales para el éxito del tratamiento. Si el tratamiento convencional no es posible o ha fallado, ofrecemos alternativas como las carillas dentales, que pueden mejorar la apariencia de los dientes sin necesidad de movimiento dental. En Dra. Muelitas, nos esforzamos por brindarte la mejor atención y asegurar tu comodidad durante todo el proceso. ¡Tu sonrisa es nuestra prioridad!</p>
                    <a class="read_more" href="#">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}