{% extends "sub_base.html" %}
{% load static %}

{% block title %}
Implantología | Dra. Muelitas
{% endblock title %}

{% block content %}
<div id="about" class="shop">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div  class="shop_img">
                    <figure><img src="images/shop_img.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-md-7 padding_right0">
                <div class="max_width">
                    <div class="titlepage">
                    <h2>Implantología</h2>
                    <p>¡Bienvenido a Dra. Muelitas! Nos especializamos en implantología, una rama de la odontología que se ocupa de la recuperación oral a través de la reposición de dientes ausentes mediante implantes dentales. Las causas de la pérdida de dientes pueden ser diversas, desde caries sin atención odontológica hasta enfermedades periodontales.
                    <br><br>Nuestro procedimiento incluye el uso de instrumentos como las brocas, que son esenciales para preparar el sitio de la cirugía y crear un hueco para el implante. Si el tratamiento convencional no es posible o ha fallado, ofrecemos alternativas como los puentes dentales y las prótesis parciales removibles. En Dra. Muelitas, nos esforzamos por devolverte la sonrisa y la funcionalidad a quienes han perdido alguna o todas las piezas dentales. ¡Tu sonrisa es nuestra prioridad!</p>
                    <a class="read_more" href="#">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}