{% extends "base.html" %}
{% block title %}
Dra. Muelitas
{% endblock title %}


{% block title_head %}
ORTODONCIA
{% endblock title_head %}

{% block title_head2 %}
ENDODONCIA
{% endblock title_head2 %}

{% block title_head3 %}
IMPLANTOLOGIA
{% endblock title_head3 %}

{% comment %} {% block h1_tratamiento1 %}
ORTODONCIA
{% endblock h1_tratamiento1 %}

{% block h1_tratamiento2 %}
ENDODONCIA
{% endblock h1_tratamiento2 %}

{% block h1_tratamiento3 %}
EXTRACCIONES
{% endblock h1_tratamiento3 %} {% endcomment %}



{% comment %} {% block by_autor %}
¡BIENVENIDO!
{% endblock by_autor %} {% endcomment %}
