{% extends "base.html" %}

{% block title_head %}
Consultorio Dr. Muelitas
{% endblock title_head %}

{% block title_head2 %}
Consultorio Dr. Muelitas
{% endblock title_head2 %}

{% block title_head3 %}
Consultorio Dr. Muelitas
{% endblock title_head3 %}

{% block h1_tratamiento1 %}
ORTODONCIA
{% endblock h1_tratamiento1 %}

{% block h1_tratamiento2 %}
ENDODONCIA
{% endblock h1_tratamiento2 %}

{% block h1_tratamiento3 %}
EXTRACCIONES
{% endblock h1_tratamiento3 %}



{% comment %} {% block by_autor %}
¡BIENVENIDO!
{% endblock by_autor %} {% endcomment %}
