{% extends "sub_base.html" %}
{% load static %}

{% block title %}
Odontopediatría | Dra. Muelitas
{% endblock title %}

{% block content %}
<div id="about" class="shop">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div  class="shop_img">
                    <figure><img src="{% static "images/odontopediatria.png" %}" alt="#"/></figure>
                </div>
            </div>
            <div class="col-md-7 padding_right0">
                <div class="max_width">
                    <div class="titlepage">
                    <h2>Odontopediatría</h2>
                    <p>¡Bienvenido a Dra. Muelitas! Nos especializamos en Odontopediatría, una rama de la odontología que se enfoca en la salud bucodental de los niños desde su nacimiento hasta la adolescencia. Los problemas dentales en niños pueden ser causados por caries, traumatismos, maloclusión y alteraciones en la posición de las piezas dentales.
                    <br><br>Nuestro procedimiento incluye el uso de instrumentos como espejos bucales, sondas exploradoras, pinzas porta algodón, y jeringas carpule. Si el tratamiento convencional no es posible o ha fallado, ofrecemos alternativas como la terapia con flúor, selladores de fosas y fisuras, y antimicrobianos tópicos. En Dra. Muelitas, nos esforzamos por mantener la sonrisa de tus hijos saludable y brillante. ¡Su sonrisa es nuestra prioridad!</p>
                    <a class="read_more" href="{% url "contactanos" %}">¡Haz tu consulta!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}