{% extends "sub_base.html" %}
{% load static %}

{% block title %}
Odon. General | Dra. Muelitas
{% endblock title %}

{% block content %}
<div id="about" class="shop">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div  class="shop_img">
                    <figure><img src="{% static "images/odontologia_general.png" %}" alt="#"/></figure>
                </div>
            </div>
            <div class="col-md-7 padding_right0">
                <div class="max_width">
                    <div class="titlepage">
                    <h2>Odontologia General</h2>
                    <p>¡Bienvenido a Dra. Muelitas! Somos especialistas en odontología general, que se encarga del diagnóstico, prevención y tratamiento de problemas bucodentales, incluyendo enfermedades que afectan a los dientes, encías, tejido periodontal y la articulación temporomandibular. Las causas de estos problemas pueden ser diversas, desde una mala higiene bucal hasta factores genéticos o enfermedades sistémicas.
                    <br><br>Nuestro procedimiento incluye el uso de instrumentos como espejos de exploración dental, exploradores, jeringuillas, pinzas, alicates, sondas, espátulas y fresas. Uno de los instrumentos más costosos y únicos que utilizamos son las fresas dentales, que se usan para cortar la estructura dental. Si el tratamiento convencional no es posible o ha fallado, ofrecemos alternativas como la extracción del diente y la colocación de un implante. En Dra. Muelitas, nos esforzamos por preservar tus dientes naturales y asegurar tu comodidad durante todo el proceso. ¡Tu sonrisa es nuestra prioridad!</p>
                    <a class="read_more" href="{% url "contactanos" %}">¡Haz tu consulta!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}