{% extends "sub_base.html" %}
{% load static %}

{% block title %}
Ortodoncia | Dra. Muelitas
{% endblock title %}

{% block content %}
<div id="about" class="shop">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div  class="shop_img">
                    <figure><img src="images/shop_img.png" alt="#"/></figure>
                </div>
            </div>
            <div class="col-md-7 padding_right0">
                <div class="max_width">
                    <div class="titlepage">
                    <h2>Ortodoncia</h2>
                    <p>¡Bienvenido a Dra. Muelitas! Nos especializamos en ortodoncia, que se encarga de corregir la posición de los dientes y la mandíbula para mejorar la estética y la funcionalidad de la boca. Los problemas que requieren ortodoncia pueden ser causados por dientes mal alineados, torcidos, o problemas en la Articulación Temporo Mandibular (ATM).
                    <br><br>Nuestro procedimiento incluye el uso de brackets y alambres para aplicar fuerzas graduales sobre los dientes y modificar su posición progresivamente. En algunos casos, también podemos utilizar aparatos extraorales que se colocan fuera de la boca para corregir problemas de maloclusión severos. Si la ortodoncia convencional no es posible o ha fallado, ofrecemos alternativas como las carillas dentales, que pueden mejorar la apariencia de los dientes sin necesidad de movimiento dental. En Dra. Muelitas, nos esforzamos por brindarte la mejor atención y asegurar tu comodidad durante todo el proceso. ¡Tu sonrisa es nuestra prioridad!</p>
                    <a class="read_more" href="#">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}