{% extends "sub_base.html" %}
{% load static %}

{% block title %}
Periodoncia | Dra. Muelitas
{% endblock title %}

{% block content %}
<div id="about" class="shop">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div  class="shop_img">
                    <figure><img src="{% static "images/periodoncia.png" %}" alt="#"/></figure>
                </div>
            </div>
            <div class="col-md-7 padding_right0">
                <div class="max_width">
                    <div class="titlepage">
                    <h2>Periodoncia</h2>
                    <p>¡Bienvenido a Dra. Muelitas! Nos especializamos en periodoncia, una rama de la odontología que se ocupa de las enfermedades de las encías y del hueso que sostiene los dientes. Las principales causas de estos problemas son la mala higiene bucal, el consumo de tabaco, y enfermedades como la diabetes.
                    <br><br>Nuestro procedimiento incluye el uso de sondas periodontales y exploradores dentales para evaluar la salud de las encías y diagnosticar enfermedades periodontales. En casos avanzados, podemos recurrir a la cirugía periodontal, que puede incluir técnicas como la cirugía con colgajos, injertos de tejido blando, injertos óseos, y regeneración tisular guiada. En Dra. Muelitas, nos esforzamos por mantener tu sonrisa saludable y brillante. ¡Tu sonrisa es nuestra prioridad!</p>
                    <a class="read_more" href="{% url "contactanos" %}">¡Haz tu consulta!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}