{% extends "sub_base.html" %}
{% load static %}

{% block title %}
Tratamientos
{% endblock title %}

{% block content %}
<!-- Our  Glasses section -->
<br>
<br>
<div class="container">
   <div class="row">
      <div class="col-md-10 offset-md-1">
         <div class="titlepage">
            <h2 style="text-align: center;">Nuestro tratamientos</h2>
            <br>
            <p>En nuestra clínica, contamos con las últimas tecnologías y una doctora con un formacion excelente y muy profesional. Se ofrece a nuestros pacientes radiografías, panorámicas y un TAC propio para valoraciones exhaustivas sin tener que desplazarse. Además, disponemos de un sistema de escáner intraoral que permite al doctor escanear los dientes y enviar una imagen 3D al protésico en minutos para fabricar prótesis dentales a medida.
            </p>
         </div>
      </div>
   </div>
</div>
<br>
<br>
<div class="container-tratamientos">
   <div class="card">
      <div class="imgBx">
         <img src="{% static 'images/odontologia_general.png' %}">
      </div>
      <h2>Odontologia General</h2>
      <div class="content">
         <p>La sonrisa puede ser nuestro mejor aliado, cuando se trata de una sonrisa positiva y agradable; o bien nuestra peor carta de presentación cuando se trata de una sonrisa negativa o desagradable.</p>
      </div>
   </div>
   <div class="card">
      <div class="imgBx">
         <img src="{% static 'images/endodoncia.png' %}">
      </div>
      <h2>Endodoncia</h2>
      <div class="content">
         <p>Endodoncia, algunas veces cuando nos damos cuenta de que tenemos un problema es cuando tenemos dolor y en algunos casos la endodoncia es la solución, para ello en dH contamos con el sistema más novedoso en esta técnica, que hará que el tratamiento sea más rápido y más cómodo para nuestros pacientes.</p>
      </div>
   </div>
</div>
<div class="container-tratamientos">
   <div class="card">
      <div class="imgBx">
         <img src="{% static 'images/ortodoncia.png' %}">
      </div>
      <h2>Ortodoncia</h2>
      <div class="content">
         <p>La estética y la funcionalidad van siempre Unidas y para conseguir esa meta las ortodoncistas de DH aconsejaran el mejor tratamiento adaptado a cada paciente y utilizando la última tecnología en tratamientos de ortodoncia.</p>
      </div>
   </div>
   <div class="card">
      <div class="imgBx">
         <img src="{% static 'images/higiene-bucodental.png' %}">
      </div>
      <h2>Higiene Bucodental</h2>
      <div class="content">
         <p>La prevención es la mejor forma de tener una buena salud bucal, por ello nuestro equipo de higiénistas le ayudarán a encontrar la mejor técnica de higiene, no solo utilizando el cepillo sino que incorporarán otra herramientas como el hilo de seda o el irrigador.</p>
      </div>
   </div>
   <div class="card">
      <div class="imgBx">
         <img src="{% static 'images/cirugia_oral.png' %}">
      </div>
      <h2>Cirugía Oral</h2>
      <div class="content">
         <p>Cirugía oral, en DH contamos con un equipo de cirujanos con una larga trayectoria que serán los responsables de dirigir y realizar los tratamientos que requieran algún tipo de intervención quirúrgica.</p>
      </div>
   </div>
</div>
<div class="container-tratamientos">
   <div class="card">
      <div class="imgBx">
         <img src="{% static 'images/estetica-dental.png' %}">
      </div>
      <h2>Estetica Dental</h2>
      <div class="content">
         <p>Para aquellos pacientes que quieren lucir una sonrisa de cine contamos con una doctora especializada en estética que podrá guiar a los pacientes para conseguir esa sonrisa que siempre han deseado.</p>
      </div>
   </div>
</div>
<div class="container-tratamientos">
   <div class="card">
      <div class="imgBx">
         <img src="{% static 'images/implantes.png' %}">
      </div>
      <h2>Implantologia</h2>
      <div class="content">
         <p>Porque no siempre es posible conservar todas las piezas dentales, en DH apostamos por los implantes dentales como primera opción para recuperar la correcta masticación y lucir la mejor de las sonrisas.</p>
      </div>
   </div>
   <div class="card">
      <div class="imgBx">
         <img src="{% static 'images/periodoncia.png' %}">
      </div>
      <h2>Periodoncia</h2>
      <div class="content">
         <p>Periodoncia, gran parte de la población adulta sufre de problema en las encías, para ayudar a tratar está enfermedad tan silenciosa en DH contamos con una especialista formada en Estados Unidos que trabajará para dar una larga vida su sonrisa.</p>
      </div>
   </div>
</div>
<div class="container-tratamientos">
   <div class="card">
      <div class="imgBx">
         <img src="{% static 'images/odontopediatria.png' %}">
      </div>
      <h2>Odontopediatría</h2>
      <div class="content">
         <p>Los niños necesitan atención dental especializada, ya que el trato, los materiales y los procedimientos odontológicos difieren en gran medida si los comparamos con los que se le efectúan a la gente adulta.</p>
      </div>
   </div>
</div>

{% endblock content %}