{% extends "sub_base.html" %}
{% load static %}

{% block tittle %}
Tratamientos
{% endblock tittle %}

{% block content %}
<!-- Our  Glasses section -->
<div class="glasses">
   <div class="container">
      <div class="row">
         <div class="col-md-10 offset-md-1">
            <div class="titlepage">
               <h2>Nuestro tratamientos</h2>
               <p>En nuestra clínica, contamos con las últimas tecnologías y una doctora con un formacion excelente y muy profesional. Se ofrece a nuestros pacientes radiografías, panorámicas y un TAC propio para valoraciones exhaustivas sin tener que desplazarse. Además, disponemos de un sistema de escáner intraoral que permite al doctor escanear los dientes y enviar una imagen 3D al protésico en minutos para fabricar prótesis dentales a medida.
               </p>
            </div>
         </div>
      </div>
   </div>
   <div class="container-fluid">
       <div class="row">
           <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="glasses_box">
               <figure><img src="images/glass1.png" alt="#"/></figure>
               <h3><span class="blu">$</span>50</h3>
               <p>Sunglasses</p>
            </div>
           </div>
           <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="glasses_box">
               <figure><img src="images/glass1.png" alt="#"/></figure>
               <h3><span class="blu">$</span>50</h3>
               <p>Sunglasses</p>
            </div>
           </div>
           <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="glasses_box">
               <figure><img src="images/glass1.png" alt="#"/></figure>
               <h3><span class="blu">$</span>50</h3>
               <p>Sunglasses</p>
            </div>
           </div>
       </div>
       <div class="row">
         <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="glasses_box">
               <figure><img src="images/glass1.png" alt="#"/></figure>
               <h3><span class="blu">$</span>50</h3>
               <p>Sunglasses</p>
            </div>
           </div>
           <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="glasses_box">
               <figure><img src="images/glass1.png" alt="#"/></figure>
               <h3><span class="blu">$</span>50</h3>
               <p>Sunglasses</p>
            </div>
           </div>
           <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="glasses_box">
               <figure><img src="images/glass1.png" alt="#"/></figure>
               <h3><span class="blu">$</span>50</h3>
               <p>Sunglasses</p>
            </div>
           </div>
       </div>
       <div class="row">
         <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="glasses_box">
               <figure><img src="images/glass1.png" alt="#"/></figure>
               <h3><span class="blu">$</span>50</h3>
               <p>Sunglasses</p>
            </div>
           </div>
           <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="glasses_box">
               <figure><img src="images/glass1.png" alt="#"/></figure>
               <h3><span class="blu">$</span>50</h3>
               <p>Sunglasses</p>
            </div>
           </div>
           <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
            <div class="glasses_box">
               <figure><img src="images/glass1.png" alt="#"/></figure>
               <h3><span class="blu">$</span>50</h3>
               <p>Sunglasses</p>
            </div>
           </div>
       </div>
       <div class="col-md-12">
           <a class="read_more" href="#">Read More</a>
       </div>
   </div>
</div>
<!-- end Our  Glasses section -->
{% endblock content %}