{% extends "sub_base.html" %}
{% load static %}

{% block title %}
Tratamientos
{% endblock title %}

{% block content %}
<!-- Our  Glasses section -->
<br>
<br>
<div class="container">
   <div class="row">
      <div class="col-md-10 offset-md-1">
         <div class="titlepage">
            <h2 style="text-align: center;">Nuestro tratamientos</h2>
            <br>
            <p>En nuestra clínica, contamos con las últimas tecnologías y una doctora con un formacion excelente y muy profesional. Se ofrece a nuestros pacientes radiografías, panorámicas y un TAC propio para valoraciones exhaustivas sin tener que desplazarse. Además, disponemos de un sistema de escáner intraoral que permite al doctor escanear los dientes y enviar una imagen 3D al protésico en minutos para fabricar prótesis dentales a medida.
            </p>
         </div>
      </div>
   </div>
</div>
<br>
<br>
<div class="mi-body">
   <div class="container-tratamientos">
      <div class="card">
         <div class="imgBx">
            <img src="{% static 'images/odontologia_general.png' %}">
         </div>
         <h2>Odon. General</h2>
         <div class="content">
            <p>La odontología general se enfoca en el diagnóstico, tratamiento y prevención de problemas primarios de salud bucodental, incluyendo problemas que afectan a los dientes, encías, etc.</p>
            <a href="{% url 'odontologia' %}" class="btn">Leer más</a>
         </div>
      </div>
      <div class="card">
         <div class="imgBx">
            <img src="{% static 'images/endodoncia.png' %}">
         </div>
         <h2>Endodoncia</h2>
         <div class="content">
            <p>La endodoncia es un tratamiento dental que elimina la pulpa infectada del diente, limpiando y sellando el interior para preservar la pieza dañada. Se realiza principalmente en dientes con caries profundas, traumatismos o lesiones endoperiodontales.</p>
            <a href="{% url 'endodoncia' %}" class="btn">Leer más</a>
         </div>
      </div>
   </div>
   <div class="container-tratamientos">
      <div class="card">
         <div class="imgBx">
            <img src="{% static 'images/ortodoncia.png' %}">
         </div>
         <h2>Ortodoncia</h2>
         <div class="content">
            <p>La ortodoncia corrige la posición de los dientes y la mandíbula para mejorar la estética y funcionalidad bucal. Se utilizan brackets, alambres y, en casos fallidos, carillas dentales.</p>
            <a href="{% url 'ortodoncia' %}" class="btn">Leer más</a>
         </div>
      </div>
      <div class="card">
         <div class="imgBx">
            <img src="{% static 'images/higiene-bucodental.png' %}">
         </div>
         <h2>Hig. Bucodental</h2>
         <div class="content">
            <p>La higiene bucodental se refiere al conjunto de prácticas para mantener los dientes, encías y boca limpios y saludables, incluyendo el cepillado regular, uso de hilo dental y visitas periódicas al dentista.</p>
            <a href="{% url 'higiene' %}" class="btn">Leer más</a>
         </div>
      </div>
      <div class="card">
         <div class="imgBx">
            <img src="{% static 'images/cirugia_oral.png' %}">
         </div>
         <h2>Cirugía Oral</h2>
         <div class="content">
            <p>La cirugía oral abarca procedimientos quirúrgicos en la boca y mandíbula, incluyendo extracciones y tratamientos tras lesiones. Especialistas en cirugía maxilofacial para mejorar la salud bucal y restaurar la función y estética.</p>
            <a href="{% url 'cirugia' %}" class="btn">Leer más</a>
         </div>
      </div>
   </div>
   <div class="container-tratamientos">
      <div class="card">
         <div class="imgBx">
            <img src="{% static 'images/estetica-dental.png' %}">
         </div>
         <h2>Estetica Dental</h2>
         <div class="content">
            <p>Para aquellos pacientes que quieren lucir una sonrisa de cine contamos con una doctora especializada en estética que podrá guiar a los pacientes para conseguir esa sonrisa que siempre han deseado.</p>
            <a href="{% url 'estetica' %}" class="btn">Leer más</a>
         </div>
      </div>
   </div>
   <div class="container-tratamientos">
      <div class="card">
         <div class="imgBx">
            <img src="{% static 'images/implantes.png' %}">
         </div>
         <h2>Implantologia</h2>
         <div class="content">
            <p>La implantología es una especialidad odontológica que se ocupa de reemplazar dientes ausentes mediante implantes dentales, restaurando la funcionalidad y estética de la boca.</p>
            <a href="{% url 'implantologia' %}" class="btn">Leer más</a>
         </div>
      </div>
      <div class="card">
         <div class="imgBx">
            <img src="{% static 'images/periodoncia.png' %}">
         </div>
         <h2>Periodoncia</h2>
         <div class="content">
            <p>La periodoncia es una rama de la odontología que se ocupa de las enfermedades que afectan a las encías y al hueso que sostiene los dientes. Su objetivo es prevenir, diagnosticar y tratar estas enfermedades para mantener la salud bucal.</p>
            <a href="{% url 'periodoncia' %}" class="btn">Leer más</a>
         </div>
      </div>
   </div>
   <div class="container-tratamientos">
      <div class="card">
         <div class="imgBx">
            <img src="{% static 'images/odontopediatria.png' %}">
         </div>
         <h2>Odontopediatría</h2>
         <div class="content">
            <p>Los niños necesitan atención dental especializada, ya que el trato, los materiales y los procedimientos odontológicos difieren en gran medida si los comparamos con los que se le efectúan a la gente adulta.</p>
            <a href="{% url 'odontopediatria' %}" class="btn">Leer más</a>
         </div>
      </div>
   </div>
</div>
{% endblock content %}