{% extends "base_blog.html" %}
{% load static %}

{% block title %}
Hacer una reseña
{% endblock title %}

</head>
<body>
    {% block navegacion %}
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mb-3 mx-auto tm-site-logo"><img src="{% static 'images/logo_grande_contorno.png' %}" alt="#" width="220" class="fa-2x"></div>            
                <br>
                <h1 class="text-center">Mis Experiencias</h1>
            </div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <li class="tm-nav-item"><a href="{% url "experiencias" %}" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Experiencias
                    </a></li>
                    <li class="tm-nav-item active"><a href="{% url "resenia" %}" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        Tu experiencia
                    </a></li>
                    <li class="tm-nav-item"><a href="{% url "inicio" %}" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Inicio
                    </a></li>
                </ul>
            </nav>
            {% comment %} <p class="tm-mb-80 pr-5 text-white">
                description
            </p> {% endcomment %}
        </div>
    </header>
{% endblock navegacion %}

{% block content %}
    <div class="container-fluid">
        <main class="tm-main">
            <div class="row tm-row">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">
                    <!-- IMG 1422x800 -->
                    <img width="954" height="535" controls class="tm-mb-40"
                    src="/media/{{blog_obj.image}}"/>
                </div>
            </div>
            <div class="row tm-row">
                <div class="col-lg-8 tm-post-col">
                    <div class="tm-post-full">                    
                        <div class="mb-4">
                            <h2 class="pt-2 tm-color-primary tm-post-title">{{blog.title}}</h2>
                            <p class="tm-mb-40">{{blog.created_at}}</p>
                            <p>
                                {{blog_obj.content|safe}}
                            </p>
                            <span class="d-block text-right tm-color-primary">{{blog.user.username}}</span>
                        </div>
                    </div>    
                <aside class="col-lg-4 tm-aside-col">
                    <div class="tm-post-sidebar">
                        <hr class="mb-3 tm-hr-primary">
                        <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
                        <ul class="tm-mb-75 pl-5 tm-category-list">
                            <li><a href="#" class="tm-color-primary">Visual Designs</a></li>
                            <li><a href="#" class="tm-color-primary">Travel Events</a></li>
                            <li><a href="#" class="tm-color-primary">Web Development</a></li>
                            <li><a href="#" class="tm-color-primary">Video and Audio</a></li>
                            <li><a href="#" class="tm-color-primary">Etiam auctor ac arcu</a></li>
                            <li><a href="#" class="tm-color-primary">Sed im justo diam</a></li>
                        </ul>
                    </div>                    
                </aside>
            </div>
        </main>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/templatemo-script.js"></script>
</body>
{% endblock content %}
<!-- Search form -->
{% comment %} <div class="row tm-row">
    <div class="col-12">
        <form method="GET" class="form-inline tm-mb-80 tm-search-form">                
            <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
            <button class="tm-search-button" type="submit">
                <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
            </button>                                
        </form>
    </div>                
</div>             {% endcomment %}