{% extends "sub_base.html" %}
{% load static %}

{% block title %}
Registro
{% endblock title %}

{% block content %}

<div id="login" class="login">
    <div class="container">
        <div class="row">
          <div class="col-md-6">
             <form action={% url "registro" %} method="POST" id="loginForm" class="main_form">
                {% csrf_token %}
                <div class="row">
                   <div class="col-md-12 ">
                      <h3>Registrarse</h3>
                   </div>
                   <div class="col-md-12 ">
                      <input class="contactus" placeholder="Usuario" type="text" name="username"> 
                   </div>
                   <div class="col-md-12">
                      <input class="contactus" placeholder="Contraseña" type="password" name="password">
                   </div>
                   <div class="col-md-12">
                      <button type="submit" class="send_btn">Registrarse</button>
                   </div>
                </div>
             </form>
          </div>
       </div>
    </div>
</div>


{% endblock content %}